<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form [formGroup]="cherchergroupe" (ngSubmit)="recherche_grp()">

            <div class="row">
              <div class="col-sm-auto">
                <mat-form-field appearance="fill">
                  <mat-label>formation</mat-label>
                  <mat-select formControlName="certif_id" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let cer of all_certif" [value]="cer.id">
                      {{cer.nom_formation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>



              <div class="col-sm-auto">
                <mat-form-field appearance="fill">
                  <mat-label>cours</mat-label>
                  <mat-select formControlName="cours" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let cours of all_cours" [value]="cours.cours">
                      {{cours.cours}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-auto">
                <mat-form-field appearance="fill">
                  <mat-label>ecole</mat-label>
                  <mat-select formControlName="ecole" required>
                    <mat-option>--</mat-option>
                    <mat-option [value]="'all'">all</mat-option>
                    <mat-option *ngFor="let ecole of all_ecoles" [value]="ecole.ecole">
                      {{ecole.ecole}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-auto">
                <mat-radio-group aria-label="Select an option" formControlName="langue" required>
                  <mat-radio-button value="Français">français&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  <mat-radio-button value="Arabe">arabe&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  <mat-radio-button value="Anglais">anglais&nbsp;</mat-radio-button>
                </mat-radio-group>
              </div>

            </div>

            <!--   <div class="form-group has-label">
              <label class="control-label" for="">formation</label><br>
              <select name="certif" id="certif" formControlName="certif_id">
                <option value="{{cer.id}}" #certif *ngFor="let cer of all_certif">{{cer.nom_formation}}
                </option>
              </select>
            </div>
            <div class="form-group has-label">
              <label class="control-label" for="">semstre</label><br>
              <select name="semestre" id="semestre" formControlName="semestre">
                <option value="1">semestre 1</option>
                <option value="2">semestre 2</option>
              </select>
            </div>
            <div class="form-group has-label">
              <label class="control-label" for="">cours</label><br>
              <select name="cours" id="cours" formControlName="cours">
                <option *ngFor="let cours of all_cours" value="{{cours.cours}}">{{cours.cours}}</option>
              </select>
            </div>
            <div class="form-group has-label">
              <label class="control-label" for="">ecole</label><br>
              <select name="ecole" id="ecole" formControlName="ecole">
                <option *ngFor="let ecole of all_ecoles" value="{{ecole.ecole}}">{{ecole.ecole}}
                </option>
              </select>
            </div>
            <div class="form-group has-label">
              <label class="control-label" for="">langue</label><br>
              <select name="langue" id="langue" formControlName="langue">
                <option value="ar">arabe</option>
                <option value="fr">francais</option>
                <option value="ag">anglais</option>
              </select>
            </div><br>
          -->
            <button class="btn btn-primary" type="submit" [disabled]=!cherchergroupe.valid>rechercher</button>
          </form>




        </div>
      </div>
      <div class="col-md-5">

        <ngx-datatable #myTable class="material" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50
                    " [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected"
          [selectionType]="SelectionType.single" (activate)="onActivate($event)" (select)='onSelect($event)'
          (click)='onClick($event)'>

          <ngx-datatable-column name="nom_groupe" prop="nom_groupe">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{row.nom_groupe}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="code_groupe" prop="code_groupe">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.code_groupe}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="effectif" prop="effectif">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.effectif}}
            </ng-template>
          </ngx-datatable-column>



        </ngx-datatable>



      </div>

      <div class="col-md-1.5">
        <button class="btn" (click)="add(selected[0])"> add
          <span class="btn-label btn-label-right"><i class="nc-icon nc-minimal-right"></i></span>
        </button><br>
        <button class="btn" (click)="addall(selected[0])"> add all
          <span class="btn-label btn-label-right"><i class="nc-icon nc-minimal-right"></i></span>
        </button><br>
        <button class="btn" (click)="delete(selected2[0])">
          <span class="btn-label"><i class="nc-icon nc-minimal-left"></i></span>
          delete </button><br>
        <button class="btn" (click)="deleteall(selected2[0])">
          <span class="btn-label"><i class="nc-icon nc-minimal-left"></i></span>
          delete all </button>
      </div>

      <div class="col-md-4">
        <div class="card">


          <ngx-datatable #myTable2 class="material" [rows]="sous_groupe_classe" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected2"
            [selectionType]="SelectionType.single" (select)='onSelect2($event)'>

            <ngx-datatable-column name="nom_groupe" prop="nom_groupe">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.nom_groupe}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="nom_groupe" prop="nom_groupe">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.code_groupe}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="effectif" prop="effectif">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.effectif}}
              </ng-template>
            </ngx-datatable-column>



          </ngx-datatable>
          <p>{{taillesousgroupe}}</p>

        </div>

        <div class="row">
          <div class="col-md-auto">
            <button class="btn" (click)="down()"> down
              <span class="btn-label btn-label"><i class="nc-icon nc-minimal-down"></i></span>
            </button>
          </div>
          <div class="col-md-auto">
            <button class="btn" (click)="up(selected3[0])"> up
              <span class="btn-label btn-label"><i class="nc-icon nc-minimal-top"></i></span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">

          <ngx-datatable #myTable3 class="material" [rows]="groupe_forma" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected3"
            [selectionType]="SelectionType.single" (select)='onSelect3($event)'>

            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:35px;">
                  <div><strong>les sous groupes</strong></div>
                  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <th>
                      nom groupe
                    </th>
                    <th>
                      code groupe
                    </th>
                    <th>
                      effectif
                    </th>
                    <tr *ngFor="let item of row">
                      <td>{{ item.nom_groupe }}</td>
                      <td>{{ item.code_groupe }}</td>
                      <td>{{ item.effectif }}</td>
                    </tr>
                  </table>

                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- Column Templates -->
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Index" [width]="80">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <strong>{{ rowIndex }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="nom_groupe" [width]="80">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <strong>groupe {{ row.name }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="composer de" [width]="80">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <strong>{{ row.length }} sous groupe</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="effectif" [width]="80">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <strong>{{ effectif_grp_final(row) }} </strong>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>



        </div>
        <button class="btn" (click)="save_grp_forma()"> enregister </button><br>
      </div>



    </div>

    <!--
        <div class='selected-column'>
            <h4>Selections</h4>
            <ul>
              <li *ngFor='let sel of selected'>
                {{sel.id}}
              </li>
              <li *ngIf="!selected.length">No Selections</li>
            </ul>
          </div>
        -->
  </div>
</div>