<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  

                 
                <br>
                </div>
                <div class="row">
          <label for="avatar">Choose a profile picture:</label>
        
        <input type="file" accept=".csv" (change)="fileChanged($event)">
        
        <button  (click)="uploadDocument()"> import </button>
        
                  </div>
                  </div>
                  </div>
                  </div>

    </div>
